body{

    background:#202124;

    color:white;

    font-family:Arial;

    text-align:center;

}

.screen{

    margin-top:40px;

}

.hidden{

    display:none;

}

button{

    padding:15px;

    margin:10px;

    font-size:18px;

    cursor:pointer;

}

#gameBoard{

    margin:auto;

    width:490px;

    display:grid;

    grid-template-columns:repeat(7,70px);

    gap:5px;

}

.square{

    width:70px;

    height:70px;

    background:#555;

    border:none;

    color:white;

    cursor:pointer;

    font-size:20px;

    transition:.2s;

}

.square:hover{

    background:#777;

}

.label{

    width:70px;

    height:70px;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:22px;

    font-weight:bold;

}

#dialogueBox{

    width:700px;

    margin:30px auto;

    display:flex;

    align-items:center;

    justify-content:center;

    gap:30px;

}

#mosquitoPortrait{

    width:180px;

    border-radius:15px;

}

#dialogue{

    background:#333;

    padding:20px;

    border-radius:15px;

    text-align:left;

    width:350px;

}

#speaker{

    font-size:22px;

    color:pink;

    font-weight:bold;

}

#hud{

    width:700px;

    margin:20px auto;

    display:flex;

    justify-content:space-around;

}

.hudBox{

    background:#333;

    border-radius:10px;

    padding:15px 25px;

    font-size:20px;

    font-weight:bold;

}

.hudBox span{

    color:#7CFF7C;

    margin-left:8px;

}

#gambleBtn{

    padding:8px 15px;

    font-size:15px;

    cursor:pointer;

    background:#b11;

    color:white;

    border:none;

    border-radius:8px;

    transition:.2s;

}

#gambleBtn:hover{

    background:#e22;

}

/* ========================================= */
/* END SCREEN */
/* ========================================= */

#endScreen{

    text-align:center;

    padding-top:40px;

}

#endTitle{

    font-size:48px;

    color:white;

    margin-bottom:20px;

}

#endImage{

    width:350px;

    max-width:90%;

    border-radius:15px;

    margin-bottom:25px;

}

#endMessage{

    color:white;

    font-size:22px;

    margin-bottom:30px;

    white-space:pre-line;

}

#playAgainBtn,
#menuBtn{

    font-size:20px;

    padding:12px 28px;

    margin:10px;

    cursor:pointer;

}
